# Node.js
node_modules/
npm-debug.log

# Dependency directories
/.pnp
.pnp.js

# Optional npm cache directory
.npm

# Environment variables
.env

# Logs
logs/
*.log

# Build output
/dist/
/build/

# Testing
/coverage/

# Miscellaneous
.DS_Store
Thumbs.db